<footer id="footer">
  <section>
    <form method="POST" action="https://formspree.io/{{site.email}}">
      <div class="field">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Mensagem</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Enviar Mensagem" /></li>
      </ul>
    </form>
  </section>
  <section class="split contact">
    <section class="alt">
      <h3>Localização</h3>
      <p>{{site.location}}</p>
    </section>
    <section>
      <h3>Telefone</h3>
      <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">

        <li><a href="https://www.facebook.com/Os-Pequenos-Gualdins-148587672663344/" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>

      </ul>
    </section>
  </section>
</footer>
